<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <div ng-if="messages.error" role="alert" class="alert alert-danger">
          <div ng-repeat="error in messages.error">{{error.msg}}</div>
        </div>
        <div ng-if="messages.success" role="alert" class="alert alert-success">
          <div ng-repeat="success in messages.success">{{success.msg}}</div>
        </div>
        <form ng-submit="submitForm()">
          <div class="card stacked-form">
              <div class="card-header ">
                  <h4 class="card-title">{{title}}</h4>
              </div>
              <div class="card-body ">

              <div class="form-group">
                  <label>Solution Title</label>
                  <input type="text" ng-model="project.title" placeholder="Enter Solution Title" class="form-control">
              </div>
              <div class="form-group">
                  <label>Solution Technologies (comma Separated)</label>
                  <tags-input replace-spaces-with-dashes="false" ng-model="project.categories" add-on-paste="true" placeholder="Enter Solution Technologies">
                    <auto-complete source="loadTags($query)"></auto-complete>
                  </tags-input>
                </div>


              <div class="form-group">
                  <label>Solution Is Featured? </label>
                  <select ng-model="project.is_featured" class="form-control">
										<option value="No">No</option>
										<option value="Yes">Yes</option>
									</select>
              </div>

              <div class="form-group">
                  <label>Solution Description</label>
                  <textarea style="min-height:100px" type="text" ng-model="project.details" placeholder="Enter Solution Description" class="form-control"></textarea>
              </div>

              <div class="form-group">
                  <label>Solution Innovations</label>
                  <textarea style="min-height:100px" type="text" ng-model="project.innovations" placeholder="Enter Solution Innovations" class="form-control"></textarea>
              </div>

              <div class="form-group">
                  <label>Quantifiable Benefits</label>
                  <textarea style="min-height:100px" type="text" ng-model="project.benifits" placeholder="Enter Solution Quantifiable Benefits" class="form-control"></textarea>
              </div>




								<div class="form-group" ng-if="is_new" ng-hide="1">
											<label>Featured Image</label>
											<br />
											<span>You will be able to edit the featured image once you save the post.</span>
											</div>

                      <div class="form-group" ng-if="!is_new">
                        <div>
                          <label>
                        <input type="checkbox" ng-if="project.image"   name="remove_media" ng-model="project.remove_media" value="yes" /> Check this box and click the save button to remove the saved featured image.
                      </label>
                      </div>


                        <hr ng-if="project.image"   />
												<label>Featured Image</label>
												<img ng-if="project.image"  style="width:70px"  ng-src="{{'/downloads/images/'+project.image}}" />

												 <input data-id_key="{{project.id}}" id="inv" type="file" name="file" onchange="angular.element(this).scope().uploadedFile(this)" />
												 <span ng-if="file_upload_started">please wait....</span>
												 <span ng-if="file_upload_completed">Image uploaded successfully...</span>
												 <span ng-if="file_upload_failed">Upload Failed.</span>

											</div>
							</div>
              <div class="card-footer ">
                  <button type="submit" class="btn btn-fill btn-info">Submit</button>
              </div>
          </div>
      </form>
    </div>
  </div>
</div>
