<div class="container-fluid">
 <div class="row">
     <div class="col-md-12">
         <div class="card data-tables">
             <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                 <div class="toolbar">
                     <!--        Here you can write extra buttons/actions for the toolbar              -->
                 </div>
                 <div class="fresh-datatables" ng-if="show">
                     <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                         <thead>
                             <tr>
                                <th>Id</th>
                                 <th>Project Title</th>
																 <th>Is Featured?</th>

                                 <th class="disabled-sorting text-right">Actions</th>
                             </tr>
                         </thead>
                         <tfoot>
                             <tr>
                               <th>Id</th>
                                <th>Project Title</th>
																 <th>Is Featured?</th>
                                 <th class="text-right">Actions</th>
                             </tr>
                         </tfoot>
                         <tbody>
                             <tr ng-repeat="project in projects track by $index">

                                 <td>{{project.id}}</td>
                                 <td>{{project.title}}</td>
                                 <td>{{project.is_featured}}</td>
                                 <td class="text-right">
                                     <!-- <a href="#" class="btn btn-link btn-info like"><i class="fa fa-heart"></i></a> -->
                                     <a title="Edit Project" href="/admin_panel/projects/edit/{{project.id}}" class="btn btn-link btn-warning edit"><i class="fa fa-edit"></i></a>
                                     <a title="Delete Project" ng-click="requestToDelete(project.id)" class="btn btn-link btn-danger remove"><i class="fa fa-times"></i></a>
                                 </td>
                             </tr>

                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
