<div class="sidebar-wrapper"  ng-controller="HeaderCtrl">
    <div class="logo">

    </div>
    <div class="user">


        <div class="photo">
            <!-- <img ng-src="{{currentUser.picture || currentUser.gravatar}}" /> -->
        </div>
        <div class="info ">
                 <span>{{currentUser.username || currentUser.id}}
                    <!-- <b class="caret"></b> -->
                </span>

        </div>
    </div>
    <ul class="nav">
        <li class="nav-item ">
            <a class="nav-link" href="/admin_panel/">
                <i class="fa fa-tachometer-alt"></i>
                <p>Dashboard</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#untis_menu_item">
                <i class="fa fa-code-branch"></i>
                <p>
                    Technologies
                    <b class="caret"></b>
                </p>
            </a>
            <div ng-class="{'show' : urlhas('category')  ,  'collapse': true}"   id="untis_menu_item">
                <ul class="nav">
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/category/">
                          <span class="sidebar-mini fa fa-list"></span>
                          <span class="sidebar-normal">List All</span>
                      </a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/category/add">
                          <span class="sidebar-mini fa fa-plus"></span>
                          <span class="sidebar-normal">Add New</span>
                      </a>
                  </li>

                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#projec_menu_item">

								<i class="fas fa-project-diagram"></i>
                <p>
                    Projects
                    <b class="caret"></b>
                </p>
            </a>
            <div ng-class="{'show' : urlhas('units')  ,  'collapse': true}"   id="projec_menu_item">
                <ul class="nav">
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/projects/">
                          <span class="sidebar-mini fa fa-list"></span>
                          <span class="sidebar-normal">List All</span>
                      </a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/projects/add">
                          <span class="sidebar-mini fa fa-plus"></span>
                          <span class="sidebar-normal">Add New</span>
                      </a>
                  </li>

                </ul>
            </div>
        </li>
    </ul>
</div>
