<!-- translated -->

<div class="content-wrapper">

<div class="content-body">
  <main>
<section class="head-area bg-gradient ">
   <div id="particles-js" style="margin-top:-5px"></div>
    <div style="max-height:10vh">
      <h1 style="color:#fff;padding-top: 40px;" class="text-center">Digital Lab Solution Repository</h1>
    </div>
		<div class="head-content container-fluid bg-gradient d-flex align-items-center">

      <div class="container" >



				<div class="row">
					<div class="col-md-4"   ng-repeat="p in projects track by $index" ng-if="$index<3" >
						<div class="authorize_box isProject animated fadeInLeft"  ng-style="{ background:randomUnitColor(p.id)}">
						<a ng-click="schedule(p)">
							<img class="project_img" src="{{'/downloads/images/'+p.image}}" ng-if="p.image" />
							<div class="ttl_wrap">
								<h4 class="project_title">{{p.title}}</h4>
							</div>
							<span class="category_banner">{{p.category.title}}</span>
						</a>
					</div>
				</div>
				<br />



                <div class="row">
                	<div class="col-md-4"   ng-repeat="p in projects track by $index"  ng-if="$index>2 && $index < 6" >
                		<div class="authorize_box isProject animated fadeInLeft"  ng-style="{ background:randomUnitColor(p.id)}">
                		<a ng-click="schedule(p)">
                			<img class="project_img" src="{{'/downloads/images/'+p.image}}" ng-if="p.image" />
                			<div class="ttl_wrap">
                				<h4 class="project_title">{{p.title}}</h4>
                			</div>
                			<span class="category_banner">{{p.category.title}}</span>
                		</a>
                	</div>
                </div>
                <br />
<!--


                        <div class="row">
                        	<div class="col-md-4"   ng-repeat="p in projects track by $index"  ng-if="$index>3 && $index < 6" >
                        		<div class="authorize_box isProject animated fadeInLeft"  ng-style="{ background:randomUnitColor(p.id)}">
                        		<a ng-click="schedule(p)">
                        			<img class="project_img" src="{{'/downloads/images/'+p.image}}" ng-if="p.image" />
                        			<div class="ttl_wrap">
                        				<h4 class="project_title">{{p.title}}</h4>
                        			</div>
                        			<span class="category_banner">{{p.category.title}}</span>
                        		</a>
                        	</div>
                        </div>
                        <br /> -->

				</div>

       </div>
		 </div>
	</section>

       </main>
     </div>
   </div>



          <a href="/solution_catalogue" class="abcc2 mb-md-20 scrollto-target fadeInRight animated" style="-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
            <img src="/images/down-arrow.png" class="fadeInDown animated" data-wow-iteration="infinite" data-wow-duration="1.2s" alt="Arrow" style="visibility: visible;-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-iteration-count: infinite;">
            <span class="blue-dark prev">Back</span>
          </a>


   <div class="modal" tabindex="-1" role="dialog" id="myModal">
     <div class="modal-dialog  modal-lg"  role="document">
       <form name="bookingfrm" id="bookingfrm"   ng-submit="finalizeSchedule(booking)"  >
         <div class="modal-content">
           <div class="modal-header" style=" padding-bottom: 0; ">
             <h2 class="modal-title">{{selected_project.title}}
             </h2>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
           </div>

           <div class="modal-body" >
<hr style=" height: 1px; margin-top:0" />

             <div class="row" >
               <div class="col-md-12">
                 <h5>Details</h5>
                 <p>{{selected_project.details}}</p>
                 <h5>Benifits</h5>
                 <p>{{selected_project.benifits}}</p>
                 <h5>Innovations</h5>
                 <p>{{selected_project.innovations}}</p>


           </div>
           <div class="modal-footer">

             <button type="button" class="btn btn-secondary" style=" margin: 0 5px; " data-dismiss="modal">{{'CLOSE'}}</button>
           </div>
         </div>
       </form>
     </div>
   </div>






   <script src="js/lib/particles-type1.min.js"></script>

<script>
setTimeout(function(){
  window.scrollTo(0, 0);
}, 100);
</script>



<style>
.authorize_box {
    overflow: hidden;
    position: relative;    background: #000;
    min-height: 200px;cursor:pointer;
}
span.category_banner {
    position: absolute;
    left: -20px;
    top: 19px;
    transform: rotate(-45deg);
    background: red;
    color: #fff;
    width: 100px;
    font-size: 12px;
    text-align: center;
}

img.project_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
}
.ttl_wrap {
    position: absolute;
    left: 0;
    background: #000000ab;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.ttl_wrap h4 {
    padding-top: 10px;
    margin: 0;
}

.authorize_box  .ttl_wrap {

    display: flex;
    justify-content: center;
    align-items: center;

		    height: 50%;
    transition:height linear 0.5s;
    -webkit-transition: height linear 0.5s;
}


.authorize_box:hover .ttl_wrap{
 height:100%;
}

.goToUnits {
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    height: 90px;
    width: 65px;
    background: none;
    border:0;
    outline:none;
    padding:0 !important;
    cursor:pointer;
    position: absolute;
    top: 50%;
    right: 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    padding-top: 21px;
    padding-left: 15px;
		z-index:9999
}

.goToUnits.is_left{
  right:auto;
  left:0;
  transform:rotate(180deg);
}
.goToUnits:hover{text-decoration:none;
    color: #fff;
		background : #18387c;
		border-left:1px solid #fff;
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;

}



    .abcc2{

      position : absolute;
      left : 20px;
    z-index: 9999999999;
      top   : 40%;
    }
    .abcc2 img{
      transform: rotate(90deg) !important;
    }



    .blue-dark{
      display:block;color:#fff;
      top:2px;
      position:absolute;right:30px;
    }


    .blue-dark.prev{
      display:block;color:#fff;
      top:2px;
      position:absolute;left:30px;
    }

</style>
