<!-- translated -->
<section class="title_wrap">

     	<div class="container">

        	<div class="row">

            	<div class="col-md-12">

                	<div class="page_title"> LOGIN </div>

                </div>

           </div>
     	</div>

     </section>





         <section class="middle_part">

         	<div class="container">

             	<div class="row">

                 	<div class="col-md-12">

                     	<div class="authorize_box">
                     	<div class="title_default_dark title_border text-center">
                         	<h4> WELCOME </h4>

                         </div>
                         <div class="field_form authorize_form">
                           <div ng-if="messages.error" role="alert" class="alert alert-danger">
                             <div ng-repeat="error in messages.error">{{error.msg}}</div>
                           </div>
                           <div ng-if="messages.success" role="alert" class="alert alert-success">
                             <div ng-repeat="success in messages.success">{{success.msg}}</div>
                           </div>
                         	<form ng-submit="login()">
                             	<div class="form-group col-md-12">
                                 	<input type="text" class="form-control" ng-model="user.email"  required="" placeholder="ENTER USERNAME" name="email">
                                 </div>
                                 <div class="form-group col-md-12">
                                 	<input type="password" class="form-control" ng-model="user.password" required="" placeholder="ENTER PASSWORD" name="password">
                                 </div>
                                 <div class="form-group col-md-12 text-center">
                                 	<button class="btn btn-default btn-radius bttn_submit" type="submit">SUBMIT</button>
                                 </div>
                                 <div class="form-group col-md-12 text-center">

                                 </div>
                             </form>
                         </div>
                     </div>

                     </div>

                 </div>

             </div>

         </section>
