
<div  style="background: #92D1FF url('/images/navigate-next.png') right center no-repeat;height:60vh;background-size: contain;background-position: right 20px center;">
  <div class="container">
   <div class="row" style="padding-top:30px">
      <div class="col-md-8 col-sm-8 col-xs-9  ">
  <h1 class="h2-navigate sm">Chandigarh Digital Centre </h1>
<br /><br />

      <h1 class="h2-navigate fadeInLeft animated">Navigate <span class="small-title">your Next </span></h1>
        <p class="banner-txt fadeInLeft animated">Discover how we navigate our clients from where they are to where they aspire to be. <span class="hidden-xs">We do it by enabling them with an AI-powered core that helps prioritize the execution of change. We also empower the business with agile digital at scale to deliver unprecedented levels of performance. Our always-on learning agenda drives their continuous improvement.</span></p>
      </div>

</div>
</div>


<a href="/pentagon" class="abcc mb-md-20 scrollto-target wow fadeInLeft animated" data-wow-delay="0.6s" data-wow-duration="1.2s" style="visibility: visible;-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;"> <img src="/images/down-arrow.png" class="wow fadeInDown animated" data-wow-iteration="infinite" data-wow-duration="1.2s" alt="Arrow" style="visibility: visible;-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-iteration-count: infinite;"> <span class="blue-dark">Next</span></a>


</div>

<section id="navigate_your_next" style="max-height:40vh;height:40vh;background-color: #0f9ffa;">
    <article class="container">
      <!--row 1-->
      <div class="row eq-height">
        <div class="col-md-3 col-sm-12 col-xs-12 wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
          <div class="eqh-box">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="svg-icon">
                  <svg id="obturateur1" class="obturateur box-txt" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 140 140" enable-background="new 0 0 140 140">
                    <g id="XMLID_7_">
                      <path id="XMLID_21_" class="st0" d="M26.799999999999997,17.5A5.6,5.6 0,1,1 38,17.5A5.6,5.6 0,1,1 26.799999999999997,17.5" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_13_" class="st0" d="M66.2,17.5A5.6,5.6 0,1,1 77.39999999999999,17.5A5.6,5.6 0,1,1 66.2,17.5" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_24_" class="st0" d="M46.6,37A5.6,5.6 0,1,1 57.800000000000004,37A5.6,5.6 0,1,1 46.6,37" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_25_" class="st0" d="M26.799999999999997,76.1A5.6,5.6 0,1,1 38,76.1A5.6,5.6 0,1,1 26.799999999999997,76.1" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_26_" class="st0" d="M85.9,56.5A5.6,5.6 0,1,1 97.1,56.5A5.6,5.6 0,1,1 85.9,56.5" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_19_" class="st0" d="M32.4,23.4L32.4,70.2" style="stroke-dasharray: 47, 49; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_1_" class="st0" d="M71.8,23.4L71.8,56.5" style="stroke-dasharray: 34, 36; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_28_" class="st0" d="M52.2,42.9L52.2,117.2" style="stroke-dasharray: 75, 77; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_27_" class="st0" d="M33,56.5L85.7,56.5" style="stroke-dasharray: 53, 55; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_16_" class="st0" d="M39.4,124.1L24.8,115.6L39.4,107.2Z" style="stroke-dasharray: 51, 53; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_31_" class="st0" d="M66.3,17.1c-14.6,0-28.9,0.1-28.9,0.1" style="stroke-dasharray: 29, 31; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_30_" class="st0" d="M39,117h51v-10h15.2c0,0,3.8-2.3,3.8-6.6s0-23.4,0-23.4h11.2c0,0,0.8-6-9-19.7l-0.8-20
		c0,0,1.1-18.3-19.1-20c-3.5-0.1-8.5,0.4-13.9,0.4" style="stroke-dasharray: 206, 208; stroke-dashoffset: 0;"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
                <h3 class="box-title">AI-powered core</h3>
              </div>
            </div>
            <!--<img src="/navigate-your-next/PublishingImages/shadow-bottom.png" class="shadow-bottom" alt="Shadow" />-->
            <p class="box-txt">Bring the power of AI to build a deeply automated foundation for the enterprise that serves up vital insights to prioritize execution of change.</p>
</div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 mt-sm-25 wow fadeInLeft animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
          <div class="eqh-box">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="svg-icon">
                  <svg id="obturateur2" class="obturateur box-txt" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 140 140" enable-background="new 0 0 140 140">
                    <g id="XMLID_35_">
                      <path id="XMLID_441_" class="st0" d="M111.2,25.7L111.2,116.2L39.3,116.2" style="stroke-dasharray: 163, 165; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_42_" class="st0" d="M33.7,110.2L33.7,19.3L105.2,19.3" style="stroke-dasharray: 163, 165; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_41_" class="st0" d="M105.60000000000001,19.8A5.6,5.6 0,1,1 116.8,19.8A5.6,5.6 0,1,1 105.60000000000001,19.8" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_40_" class="st0" d="M37.8,112.2L49.4,100.7" style="stroke-dasharray: 17, 19; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_43_" class="st0" d="M53.2,44.4L53.2,91.2" style="stroke-dasharray: 47, 49; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_38_" class="st0" d="M44.7,44.9L53.2,30.2L61.6,44.9Z" style="stroke-dasharray: 51, 53; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_39_" class="st0" d="M86.9,96.8L59.1,96.8" style="stroke-dasharray: 28, 30; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_36_" class="st0" d="M86.5,88.4L101.1,96.8L86.5,105.3Z" style="stroke-dasharray: 51, 53; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_34_" class="st0" d="M47.6,96.9A5.6,5.6 0,1,1 58.800000000000004,96.9A5.6,5.6 0,1,1 47.6,96.9" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_32_" class="st0" d="M28.199999999999996,116.2A5.6,5.6 0,1,1 39.4,116.2A5.6,5.6 0,1,1 28.199999999999996,116.2" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
                <h3 class="box-title">Agile digital at scale</h3>
              </div>
            </div>
            <!--<img src="/navigate-your-next/PublishingImages/shadow-bottom.png" class="shadow-bottom" alt="Shadow" />-->
            <p class="box-txt">Create new enterprise-wide digital capability to deliver unprecedented levels of business performance and customer delight.</p>
</div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 mt-sm-25 wow fadeInLeft animated" data-wow-delay="0.9s" style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
          <div class="eqh-box">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="svg-icon">
                  <svg id="obturateur3" class="obturateur box-txt" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 140 140" enable-background="new 0 0 140 140">
                    <g id="XMLID_609_">
                      <path id="XMLID_610_" class="st0" d="M41.8,112.6L90.7,112.6" style="stroke-dasharray: 49, 51; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_604_" class="st0" d="M36.3,27.8L36.3,107.8" style="stroke-dasharray: 80, 82; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_612_" class="st0" d="M28.4,28L36.3,14.3L44.2,28Z" style="stroke-dasharray: 48, 50; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_611_" class="st0" d="M41.5,112.6c0,2.9-2.3,5.2-5.2,5.2c-2.9,0-5.2-2.3-5.2-5.2c0-2.9,2.3-5.2,5.2-5.2
		C39.2,107.4,41.5,109.7,41.5,112.6" style="stroke-dasharray: 33, 35; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_702_" class="st0" d="M103.6,22.5L54.4,22.5" style="stroke-dasharray: 50, 52; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_613_" class="st0" d="M108.7,106.7L108.7,27.4" style="stroke-dasharray: 80, 82; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_608_" class="st0" d="M116.6,106.2L108.7,119.8L100.8,106.2Z" style="stroke-dasharray: 48, 50; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_607_" class="st0" d="M103.5,22.5c0-2.9,2.3-5.2,5.2-5.2c2.9,0,5.2,2.3,5.2,5.2c0,2.9-2.3,5.2-5.2,5.2
		C105.8,27.7,103.5,25.4,103.5,22.5" style="stroke-dasharray: 33, 35; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_596_" class="st0" d="M96.3,40.2L108.7,40.2" style="stroke-dasharray: 13, 15; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_594_" class="st0" d="M36.3,40.2L85.7,40.2" style="stroke-dasharray: 50, 52; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_606_" class="st0" d="M59.9,94.6L108.8,94.6" style="stroke-dasharray: 49, 51; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_603_" class="st0" d="M36.3,94.6L49.5,94.6" style="stroke-dasharray: 14, 16; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_605_" class="st0" d="M78.1,76.4L108.7,76.4" style="stroke-dasharray: 31, 33; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_602_" class="st0" d="M36.3,76.4L67.8,76.4" style="stroke-dasharray: 32, 34; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_600_" class="st0" d="M59.8,58.3L108.7,58.3" style="stroke-dasharray: 49, 51; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_598_" class="st0" d="M36.2,58.3L49.2,58.3" style="stroke-dasharray: 13, 15; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_601_" class="st0" d="M85.5,40.2c0-2.9,2.3-5.2,5.2-5.2c2.9,0,5.2,2.3,5.2,5.2c0,2.9-2.3,5.2-5.2,5.2
		C87.8,45.4,85.5,43.1,85.5,40.2" style="stroke-dasharray: 33, 35; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_599_" class="st0" d="M49.2,58.8c0-2.9,2.3-5.2,5.2-5.2c2.9,0,5.2,2.3,5.2,5.2c0,2.9-2.3,5.2-5.2,5.2
		C51.6,64,49.2,61.7,49.2,58.8" style="stroke-dasharray: 33, 35; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_597_" class="st0" d="M49.2,94.6c0-2.9,2.3-5.2,5.2-5.2c2.9,0,5.2,2.3,5.2,5.2c0,2.9-2.3,5.2-5.2,5.2
		C51.6,99.8,49.2,97.5,49.2,94.6" style="stroke-dasharray: 33, 35; stroke-dashoffset: 0;"></path>
                      <path id="XMLID_595_" class="st0" d="M67.4,76.4c0,2.9,2.3,5.2,5.2,5.2c2.9,0,5.2-2.3,5.2-5.2c0-2.9-2.3-5.2-5.2-5.2

		C69.7,71.2,67.4,73.5,67.4,76.4" style="stroke-dasharray: 33, 35; stroke-dashoffset: 0;"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
                <h3 class="box-title">Always-on learning</h3>
              </div>
            </div>

            <!--<img src="/navigate-your-next/PublishingImages/shadow-bottom.png" class="shadow-bottom" alt="Shadow" />-->
            <p class="box-txt">Drive continuous improvement by transferring digital skills along with ideas from a cross-section of industries and innovation ecosystems.</p>
</div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 mt-sm-25 wow fadeInLeft animated" data-wow-delay="1.2s" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
          <div class="eqh-box">
            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="svg-icon">
                  <svg id="obturateur4" class="obturateur box-txt" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 140 140" enable-background="new 0 0 140 140">
                    <g id="XMLID_10_">
                      <g id="XMLID_11_">
                        <path id="XMLID_18_" class="st0" d="M94.5,37.2L101.1,37.2L101.1,96.7L16.6,96.7L16.6,37.2L75.3,37.2" style="stroke-dasharray: 269, 271; stroke-dashoffset: 0;"></path>
                        <g id="XMLID_13_">
                          <g id="XMLID_14_">
                            <path id="XMLID_17_" class="st0" d="M41.5,70.6L45.5,74.6L58.2,62.2L66.4,69.8L80.3,56" style="stroke-dasharray: 55, 57; stroke-dashoffset: 0;"></path>
                            <g id="XMLID_15_">
                              <path id="XMLID_16_" class="st0" d="M85.6,61.3L89.5,46.8L74.9,50.7Z" style="stroke-dasharray: 46, 48; stroke-dashoffset: 0;"></path>
                            </g>
                          </g>
                        </g>
                        <path id="XMLID_12_" class="st0" d="M93.8,23.3c0-5.4-4.8-9.8-10.3-9.1c-4,0.5-7.4,3.8-8,7.8c-0.4,2.8,0.4,5.3,2,7.1
			c2,2.4,3.1,4.3,3.1,7.4v1.3h7.8v-1.1c0-3,1-5,2.9-7.1C93,27.8,93.8,25.6,93.8,23.3z" style="stroke-dasharray: 69, 71; stroke-dashoffset: 0;"></path>
                        <g id="XMLID_19_">
                          <path id="XMLID_33_" class="st0" d="M72.3,22.8L66.7,22.8" style="stroke-dasharray: 6, 8; stroke-dashoffset: 0;"></path>
                          <path id="XMLID_47_" class="st0" d="M84.6,10.5L84.6,4.8" style="stroke-dasharray: 6, 8; stroke-dashoffset: 0;"></path>
                          <path id="XMLID_48_" class="st0" d="M97.5,22.8L102.6,22.8" style="stroke-dasharray: 6, 8; stroke-dashoffset: 0;"></path>
                          <path id="XMLID_49_" class="st0" d="M93.7,13.8L97.3,10" style="stroke-dasharray: 6, 8; stroke-dashoffset: 0;"></path>
                          <path id="XMLID_50_" class="st0" d="M75.6,13.8L71.9,10" style="stroke-dasharray: 6, 8; stroke-dashoffset: 0;"></path>
                        </g>
                        <path id="XMLID_51_" class="st0" d="M31.6,65.9A5.6,5.6 0,1,1 42.800000000000004,65.9A5.6,5.6 0,1,1 31.6,65.9" style="stroke-dasharray: 36, 38; stroke-dashoffset: 0;"></path>
                        <path id="XMLID_52_" class="st0" d="M58.9,96.7L58.9,114.7" style="stroke-dasharray: 18, 20; stroke-dashoffset: 0;"></path>
                        <path id="XMLID_53_" class="st0" d="M16.6,83.3L101.1,83.3" style="stroke-dasharray: 85, 87; stroke-dashoffset: 0;"></path>
                      </g>
                      <path id="XMLID_54_" class="st0" d="M43.8,116.2L73.9,116.2" style="stroke-dasharray: 31, 33; stroke-dashoffset: 0;"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
                <h3 class="box-title">New Digital Champions</h3>
              </div>
            </div>

            <!--<img src="/navigate-your-next/PublishingImages/shadow-bottom.png" class="shadow-bottom" alt="Shadow" />-->
            <p class="box-txt">Exclusive Infosys report on the impact of digital disruption on organizations across industries, and countries, and how they are dealing with it.</p>
</div>
        </div>
      </div>
    </article>
  </section>

<style>

  .slide-image {
    top: 0;
    /* transform: translateY(50%); */
    height: auto;
    position: absolute;
    right: 0;
    width: 100%;display: block;
    width: 100%;
}


  .caption-index p.banner-txt {
    font-size: 20px !important;
    color: #061838;
    margin-top: 10px !important;
    font-weight: 300;
  }
#navigate_your_next, #navigate_your_next a, #navigate_your_next p, #navigate_your_next svg, #navigate_your_next path {color: #fff;}
  .h2-navigate {
    color: #061838 !important;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
}

  .h2-navigate.sm {
    font-size:90px
  }
svg * {
    fill: none;
    stroke: currentColor;

}

#navigate_your_next {
    background-color: #0f9ffa;
    padding: 75px 0px;
}

p.banner-txt {
    font-size: 20px !important;
    color: #061838;
    margin-top: 10px !important;
    font-weight: 300;
}


.abcc{

  position : absolute;
  right : 20px;
  top   : 40%;
}
.abcc img{
  transform: rotate(-90deg) !important;
}

.blue-dark{
  display:block;color:#222;
  top:2px;
  position:absolute;right:30px;
}
</style>
