<div style="    height:100vh;">
  <div style="    background-color: #bee3ff;padding-top:30px">
      <h1 class="h2-navigate sm" style="text-align:center">Chandigarh Digital Centre </h1>
      <h1 class="h2-navigate sm2" style="text-align:center;margin-bottom:0">Navigate your next </h1>
  </div>

  <div   style="  background-color: #0f9ffa; padding-top:30px">
  <div class="container" style="  ">
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 pad-ctr wow fadeInLeft animated">


        <div class="stories-details" style="background:#DF9926">
          <a href="/solution_catalogue">
            <figure class="imgover-reveal-left imageshover">
              <div class="repeated-css-01">
                <img src="/images/ai_code.png" class="slide-image-01"></div>
              <div class="stories-txt stories-width">
                <h3 class="stories-title color-black col-md-12 col-sm-12 col-xs-12">Solution Catalogue</h3>
              </div>
            </figure>
          </a>
        </div>


      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 pad-ctr wow fadeInRight animated">



        <div class="stories-details" style="background:#963596">
          <a href="/">
            <figure class="imgover-reveal-right imageshover">
              <div class="repeated-css-02">
                <img src="/images/always-learning.png" class="slide-image-02" alt="E-commerce on your own terms"></div>
                <div class="stories-txt">
                  <h3 class="stories-title color-black col-md-7 col-sm-12 col-xs-12">LEX</h3>
                </div>
              </figure>
            </a>
          </div>






        <div class="stories-details" style="background:#e5c8a8">
          <a href="/">
            <figure class="imgover-reveal-right imageshover">
              <div class="repeated-css-02">
                <img src="/images/ahead-of-security-breaches.png" class="slide-image-02" alt="ETA Videos"></div>
                <div class="stories-txt">
                  <h3 class="stories-title color-black col-md-7 col-sm-12 col-xs-12">ETA Videos</h3>
                </div>
              </figure>
            </a>
          </div>










      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 pad-ctr wow fadeInLeft animated">


                <div class="stories-details" style="background:#f16c51">
                  <a href="/">
                    <figure class="imgover-reveal-right imageshover">
                      <div class="repeated-css-02">
                        <img src="/images/ai_code.png" class="slide-image-02" alt="Units at Chandigarh"></div>
                        <div class="stories-txt">
                          <h3 class="stories-title color-black col-md-7 col-sm-12 col-xs-12">Units at Chandigarh</h3>
                        </div>
                      </figure>
                    </a>
                  </div>



      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 pad-ctr wow fadeInRight animated">


                <div class="stories-details" style="background:#00B28F">
                  <a href="/">
                    <figure class="imgover-reveal-right imageshover">
                      <div class="repeated-css-02">
                        <img src="/images/clipart429802.png" class="slide-image-02" alt="About Chandigarh"></div>
                        <div class="stories-txt">
                          <h3 class="stories-title color-black col-md-7 col-sm-12 col-xs-12">About Chandigarh</h3>
                        </div>
                      </figure>
                    </a>
                  </div>


      </div>
    </div>
  </div>
  </div>




    <a href="/pentagon" class="abcc2 mb-md-20 scrollto-target fadeInRight animated" style="-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
      <img src="/images/down-arrow.png" class="fadeInDown animated" data-wow-iteration="infinite" data-wow-duration="1.2s" alt="Arrow" style="visibility: visible;-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-iteration-count: infinite;">
      <span class="blue-dark prev">Back</span>
    </a>

<!--
    <a href="/topics" class="abcc mb-md-20 scrollto-target fadeInLeft animated" style="-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
      <img src="/images/down-arrow.png" class="fadeInDown animated" data-wow-iteration="infinite" data-wow-duration="1.2s" alt="Arrow" style="visibility: visible;-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-iteration-count: infinite;">
      <span class="blue-dark">Next</span>
    </a> -->
</div>






<style>
  .h2-navigate {
    color: #061838 !important;
    font-size: 100px;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
  }
  .h2-navigate.sm {
    font-size:60px
  }

  .h2-navigate.sm2 {
    font-size:50px
  }


  .abcc{

    position : absolute;
    right : 20px;
    top   : 40%;
  }
  .abcc img{
    transform: rotate(-90deg) !important;
  }



  .abcc2{

    position : absolute;
    left : 20px;
    top   : 40%;
  }
  .abcc2 img{
    transform: rotate(90deg) !important;
  }



  .blue-dark{
    display:block;color:#222;
    top:2px;
    position:absolute;right:30px;
  }


  .blue-dark.prev{
    display:block;color:#222;
    top:2px;
    position:absolute;left:30px;
  }

.stories-details{
  margin-bottom:10px
}


.stories-title{
  font-size: 60px;
}
</style>
