<div style="background:#BEE3FF url('/images/line-pattern-bg.png');height:100vh;padding-top:30px">
<h1 class="h2-navigate sm" style="text-align:center">Chandigarh Digital Centre </h1>
<div class="container"  >
<div class="row">
  <div class="col-md-12">
    <div class="pentagon-framework text-center animated fadeInScale">
      <img src="/images/tria.svg" style="width:100%;" class="responsive image-responsive" />
    </div>
  </div>



  <a href="/" class="abcc2 mb-md-20 scrollto-target fadeInRight animated" style="-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
    <img src="/images/down-arrow.png" class="fadeInDown animated" data-wow-iteration="infinite" data-wow-duration="1.2s" alt="Arrow" style="visibility: visible;-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-iteration-count: infinite;">
    <span class="blue-dark prev">Back</span>
  </a>


  <a href="/options" class="abcc mb-md-20 scrollto-target fadeInLeft animated" style="-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
    <img src="/images/down-arrow.png" class="fadeInDown animated" data-wow-iteration="infinite" data-wow-duration="1.2s" alt="Arrow" style="visibility: visible;-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-iteration-count: infinite;">
    <span class="blue-dark">Next</span>
  </a>


</div>


<style>
  .h2-navigate {
    color: #061838 !important;
    font-size: 50px;
    line-height: 90px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
  }
  .h2-navigate.sm {
    font-size:60px
  }


  .abcc{

    position : absolute;
    right : 20px;
    top   : 40%;
  }
  .abcc img{
    transform: rotate(-90deg) !important;
  }



  .abcc2{

    position : absolute;
    left : 20px;
    top   : 40%;
  }
  .abcc2 img{
    transform: rotate(90deg) !important;
  }



  .blue-dark{
    display:block;color:#222;
    top:2px;
    position:absolute;right:30px;
  }


  .blue-dark.prev{
    display:block;color:#222;
    top:2px;
    position:absolute;left:30px;
  }

</style>
