<div style="height:100vh;background: #bee3ff  url('/images/line-pattern-bg.png');">
  <div style="padding-top:30px">
    <article class="container p0 wow fadeInUp animated">


      <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-9 wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">

      <h2 class="h2-heading">Solution Catalogue</h2>
      <p class="para-txt light-gray">Our business solutions and services help accelerate innovation, increase productivity, reduce costs, and optimize asset utilization.</p>

      <br />
      <br />
      <br />
      </div>

      </div>

      <div class="row offering-hover mt50">
          <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-20">
              <p class="offering-title">By Digital</p>
            </div><div class="col-md-3 col-sm-4 col-xs-12 mb-sm-20">
              <ul class="offering-list">
                <li><a href="/technology/Cloud">Cloud</a></li>
                <li><a href="/technology/AI & Automation">AI & Automation</a></li>
                <li><a href="/technology/Enterprise Change">Enterprise Change</a></li>


              </ul>
            </div><div class="col-md-3 col-sm-4 col-xs-12 mb-sm-20">
              <ul class="offering-list">
                <li><a href="/technology/I.O.T.">I.O.T.</a></li>
                <li><a href="/technology/A.L.M.">A.L.M.</a></li>
                <li><a href="/technology/Blockchain">Blockchain</a></li>
              </ul>
            </div><div class="col-md-3 col-sm-4 col-xs-12 mb-sm-20">
              <ul class="offering-list">
                <li><a href="/technology/Data Analytics">Data Analytics</a></li>
                <li><a href="/technology/Salesforce">Salesforce</a></li>
                <li><a href="/technology/SAP">SAP</a></li>

              </ul>
            </div>

        </div>


        <div class="row offering-hover mt50">
          <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-20">
            <p class="offering-title">By Industry</p>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mb-sm-20">
            <ul class="offering-list">

              <li><a href="/technology/Aerospace &amp; Defence">Aerospace &amp; Defence</a></li>
              <li><a href="/technology/Agriculture">Agriculture</a></li>
              <li><a href="/technology/Automotive">Automotive</a></li>
              <li><a href="/technology/Communication Services">Communication Services</a></li>
              <li><a href="/technology/Consumer Packaged Goods">Consumer Packaged Goods</a></li>
              <li><a href="/technology/Financial Services">Financial Services</a></li>

            </ul>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mb-sm-20">
            <ul class="offering-list">


              <li><a href="/technology/Healthcare">Healthcare</a></li>
              <li><a href="/technology/Industrial Manufacturing">Industrial Manufacturing</a></li>
              <li><a href="/technology/Information Services &amp; Publishing">Information Services &amp; Publishing</a></li>
              <li><a href="/technology/Insurance">Insurance</a></li>
              <li><a href="/technology/Life Sciences">Life Sciences</a></li>


            </ul>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 mb-sm-20">
            <ul class="offering-list">


              <li><a href="/technology/Manufacturing">Manufacturing</a></li>
              <li><a href="/technology/Mining">Mining</a></li>
              <li><a href="/technology/Oil and Gas">Oil and Gas</a></li>
              <li><a href="/technology/Public Sector">Public Sector</a></li>
              <li><a href="/technology/Retail">Retail</a></li>
              <li><a href="/technology/Utilities">Utilities</a></li>


            </ul>
          </div>
      </div>
    </article>
  </div>
</div>



    <a href="/options" class="abcc2 mb-md-20 scrollto-target fadeInRight animated" style="-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
      <img src="/images/down-arrow.png" class="fadeInDown animated" data-wow-iteration="infinite" data-wow-duration="1.2s" alt="Arrow" style="visibility: visible;-webkit-animation-duration: 1.2s; -moz-animation-duration: 1.2s; animation-duration: 1.2s;-webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite; animation-iteration-count: infinite;">
      <span class="blue-dark prev">Back</span>
    </a>


<!-- <div class="d-flex main_wrap">
  <div class="flx_1 flex_11">
    <a href="/navigate-your-next/ai-powered-core/Pages/index.aspx" title="AI-powered core">
      <h2 class="head-txt">AI-powered core</h2>
      <p class="sub-head hidden-sm hidden-xs">Serve insights for prioritizing change</p>
    </a>
  </div>
  <div class="flx_1 flex_22">
    <a href="/navigate-your-next/ai-powered-core/Pages/index.aspx" title="AI-powered core">
      <h2 class="head-txt">AI-powered core</h2>
      <p class="sub-head hidden-sm hidden-xs">Serve insights for prioritizing change</p>
    </a>
  </div>
</div> -->



<style>

  .h2-heading {
    font-size: 70px;
    font-weight: 500;
    font-family: "Tungsten A", "Tungsten B", "Khand", sans-serif;
    line-height: 70px;
}
.para-txt {
    font-size: 40px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 40px;
}
.light-gray {
    color: #7E7E7E !important;
}

.offering-title {
    font-size: 40px;
    color: #000000;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -1px;
}
ul.offering-list {
    padding: 0px;
}
ul.offering-list li {
    list-style-type: none;
    font-size: 18px;
    padding-left: 40px;
    background-position: 3px 10px;
    transition: all 0.5s;
    line-height: 32px;
    line-height: 26px;
    padding-bottom: 10px;
}



a {
    color: #007cc3;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: 0;
}
ul.offering-list li a {
    font-size: 20px;
    color: #000;
    font-weight: 400;
    line-height: 25px;
}
.offerings-row {
    border-top: 1px solid #858585;
    margin-left: 15%;
    padding-top: 20px;
    padding-bottom: 55px;
    opacity: 1;
    transition: 0.5s all;
}
.offering-hover {
    position: relative;
    position: relative;
border-top: 1px solid #858585;
padding-top: 20px;
padding-bottom: 55px;
  }



    .abcc2{

      position : absolute;
      left : 20px;
      top   : 40%;
    }
    .abcc2 img{
      transform: rotate(90deg) !important;
    }



    .blue-dark{
      display:block;color:#222;
      top:2px;
      position:absolute;right:30px;
    }


    .blue-dark.prev{
      display:block;color:#222;
      top:2px;
      position:absolute;left:30px;
    }

</style>
