<div class="content-wrapper">
  <div class="content-body">
    <main>
      <section class="head-area bg-gradient ">
        <div id="particles-js" style="margin-top:-5px"></div>
        <div style="max-height:10vh">
          <h1 style="color:#fff;padding-top: 40px;" class="text-center">Digital Lab Solution Repository</h1>
        </div>
        <div class="head-content container-fluid d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-md-4"   ng-repeat="p in categories track by p.id" ng-if="$index<3" >
                <div class="authorize_box animated fadeInRight" ng-style="{ background:randomUnitColor(p.id)}">
                  <a href="/technology/{{p.title}}" >
                    <div class="ttl_wrap">
                      <h4 class="project_title">{{p.title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-4"   ng-repeat="p in categories track by p.id" ng-if="$index>2 && $index<6" >
                <div class="authorize_box animated fadeInRight" ng-style="{ background:randomUnitColor(p.id)}">
                  <a href="/technology/{{p.title}}">
                    <div class="ttl_wrap">
                      <h4 class="project_title">{{p.title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-4"   ng-repeat="p in categories track by p.id" ng-if="$index>5 && $index<9" >
                <div class="authorize_box animated fadeInRight" ng-style="{ background:randomUnitColor(p.id)}">
                  <a href="/technology/{{p.title}}">
                    <div class="ttl_wrap">
                      <h4 class="project_title">{{p.title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-md-4"   ng-repeat="p in categories track by p.id" ng-if="$index>8 && $index<12" >
                <div class="authorize_box animated fadeInRight" ng-style="{ background:randomUnitColor(p.id)}">
                  <a href="/technology/{{p.title}}">
                    <div class="ttl_wrap">
                      <h4 class="project_title">{{p.title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <br />
          </div>
        </div>
   		 <a class="goToUnits" href="/">►</a>
      </section>
    </main>
  </div>
</div>

<script src="js/lib/particles-type1.min.js"></script>

<script>
setTimeout(function(){
  window.scrollTo(0, 0);
}, 100);
</script>



<style>
.authorize_box {
    overflow: hidden;
    position: relative;    background: #000;
    min-height: 100px;
}
span.category_banner {
    position: absolute;
    left: -20px;
    top: 19px;
    transform: rotate(-45deg);
    background: red;
    color: #fff;
    width: 100px;
    font-size: 12px;
    text-align: center;
}

img.project_img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
}
.ttl_wrap {
    position: absolute;
    left: 0;
    background: #000000ab;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.ttl_wrap h4 {
    padding-top: 10px;
    margin: 0;
}

.authorize_box  .ttl_wrap {

    display: flex;
    justify-content: center;
    align-items: center;

		    height: 25%;
    transition:all linear 0.2s;
    -webkit-transition: all linear 0.2s;
}


.authorize_box .ttl_wrap{
  height:100%;
}

.authorize_box:hover .ttl_wrap{
  transform:scale(1.2)
}

a.goToUnits {
    border-bottom-left-radius: 90px;
    border-top-left-radius: 90px;
    height: 90px;
    width: 65px;
    /* background: #fff; */
    position: absolute;
    top: 50%;
    left: 0;
    transform:rotate(180deg);
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 43px;
    line-height: 50px;
    padding-top: 21px;
    padding-left: 15px;
		z-index:9999
}
a.goToUnits:hover{text-decoration:none;
    color: #fff;
		background : #18387c;
		border-left:1px solid #fff;
		border-top:1px solid #fff;
		border-bottom:1px solid #fff;

}
</style>
