<!--  -->
<!DOCTYPE html>
<html lang="en">

  <head>
    <base href="/admin_panel/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Digital Lab Solution Repository - Admin Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous">
    <link href="/admin_panel/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/admin_panel/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />
    <link rel="stylesheet" href="//mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
  </head>
  <body  ng-app="MyApp">


    <div class="wrapper">
        <div class="sidebar" data-color="black" data-image="/admin_panel/img/sidebar-4.jpg"  ng-include src="'partials/header.html'">
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon d-none d-lg-block">
                                <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                                <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                            </button>
                        </div>
                        <a class="navbar-brand" > Digital Lab Solution Repository - Admin Dashboard </a>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">

                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="nc-icon nc-bullet-list-67"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a ng-controller="HeaderCtrl" ng-click="logout()" class="dropdown-item text-danger">
                                        <i class="nc-icon nc-button-power"></i> Log out
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content"  ng-view>

            </div>

            <footer class="footer">
              <div class="container">
                  <nav>
                      <p class="copyright text-center">
                          &copy;
                          <script>
                              document.write(new Date().getFullYear())
                          </script>
                      </p>
                  </nav>
              </div>
            </footer>

          </div>
    </div>




  <script src="/admin_panel/js/lib/jquery.3.2.1.min.js"></script>
  <script src="/admin_panel/js/lib/popper.min.js"></script>

  <script src="/admin_panel/js/lib/bootstrap.min.js"></script>
  <script src="/admin_panel/js/lib/angular.js"></script>
  <script src="/admin_panel/js/lib/angular-route.js"></script>
  <script src="/admin_panel/js/lib/satellizer.js"></script>
  <script src="/admin_panel/js/lib/jquery.dataTables.min.js"></script>

  <script src="/admin_panel/js/app.js"></script>
  <script src="/admin_panel/js/lib/light-bootstrap-dashboard.js" type="text/javascript"></script>
  <script src="//mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>

  <script src="/admin_panel/js/lib/sweet-alert.min.js"></script>
  <script src="/admin_panel/js/lib/SweetAlert.js"></script>
  <script src="/admin_panel/js/controllers/header.js"></script>
  <script src="/admin_panel/js/controllers/CategoryCtrl.js"></script>
  <script src="/admin_panel/js/controllers/ProjectCtrl.js"></script>
  <script src="/admin_panel/js/controllers/UserCtrl.js"></script>
  <script src="/admin_panel/js/services/contact.js"></script>
  </body>


</html>
